.menu {
  background-color: #01172F;
  color: white;
}

.advanced-box {
        width: 30%;
        background-color: #fff;
        position: fixed;
        top: 0px;
        left: 913px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

.error {
  color: red;
  display: block;
  margin-bottom: 10px;
}

.advanced-form {
  width: 100%;
  padding: 30px;
}

body {
  overflow-x: hidden;
}

button {
  border-width: 0px;
  background-color: transparent;
}

.no-items {
  color: #01172F;
  font-weight: 700;
  font-size: 28px;
  display: flex;
  justify-content: center;
  padding-top: 200px;
}

.list {
  list-style-type: none;
}

.selectedItem {
  background-color: #094B71;
}

.listItem {
  padding: 11px;
}

.content {
  padding: 10px;
}

.search-header {
  color: #01172F;
  font-weight: 600;
}